<% provide(:title, "面談日時編集") %>

<div class="meeting-back">
  <div id="meeting-top-title">
    <i class="far fa-clock"></i>
    面談日時編集
  </div>

  <% if @meeting_times_status == "meeting_decision" %>
      <div id=content class="meeting-edit">
      <div id="meeting-title">面談日時確認</div>
      <%= form_with(url: teacher_meetings_edit_path(@teacher), method: :patch, local:true) do |f| %>
        <div class="scroll-table">
          <table class="table-bordered table-striped table-condensed meeting-table" style="width: 100%; background-color: #ffffff;">
            <thead>
              <tr style="background: #FF9933; color: white;">
                <td>日付</td>
                <td colspan="<%= @times.uniq.length %>" id="scroll-ajust">面談時間</td>
              </tr>
            </thead>

            <tbody>
              <% dates.sort.each do |date| %>
                <tr>
                  <td style="background: #4496d3; color: #ffffff;">
                    <%= date %>
                  </td>
                  <% @meeting_times.each do |meeting_time| %>
                    <% if meeting_time.time.to_date == date %>
                      <td>
                        <%= meeting_time.time.to_s(:time) %>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %><br>
      <div class="eraser-content"><i class="fas fa-exclamation-triangle fa-fw" style="color: red;"></i>日時確定して保護者に通知済みのため編集はできません。</div>
    </div>

  <% else %>
    <div id="content" class="meeting-date">
      <div id="meeting-title"><i class="far fa-calendar-plus"></i>面談日時の追加</div>
      <%= form_with(model: @meeting_time, url: teacher_meeting_create_path(@teacher), local: true) do |f| %>
        <table class="table-bordered table-striped table-condensed meeting-table" style="width: 100%;">
          <thead>
            <tr>
              <td style="background: #FF9933; color: white;">面談日</td>
              <td style="background: #ffffff;" colspan="2"><%= f.text_field :date, class: 'form-control date-picker select-font' %></td>
            </tr>
            <tr style="background: #79c06e; color: white;">
              <td style="width: 50%;">開始時間</td>
              <td style="width: 25%;">面談時間</td>
              <td style="width: 25%;">枠</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <%= f.select :published_at_hour, @hour, {}, class: 'form-control box select-font', style: "width: 45%;" %> :
                <%= f.select :published_at_minute_1, @minutes1, {}, class: 'form-control box select-font', style: "width: 45%;" %>
              </td>
              <td><%= f.select :published_at_minute_2, @minutes2, {}, class: 'form-control select-font' %></td>
              <td><%= f.select :frame, @frame_list, {}, class: 'form-control select-font' %></td>
            </tr>
          </tbody>
        </table>
        <div id="submit-center">
          <%= f.submit '追加', class: "btn btn-success submit-single" %>
        </div>
      <% end %>
    </div>

    <div id=content class="meeting-edit">
      <div id="meeting-title"><i class="fas fa-edit"></i>面談時間の編集</div>
      <%= form_with(url: teacher_meetings_edit_path(@teacher), method: :patch, local:true) do |f| %>
        <div class="scroll-table">
          <table class="table-bordered table-striped table-condensed meeting-table" style="width: 100%; background-color: #ffffff;">
            <thead>
              <tr style="background: #FF9933; color: white;">
                <td>日付</td>
                <td colspan="<%= @times.uniq.length %>" id="scroll-ajust">面談時間</td>
              </tr>
            </thead>

            <tbody>
              <% dates.sort.each do |date| %>
                <tr>
                  <td rowspan="2" style="background: #4496d3; color: #ffffff;">
                    <%= date %>
                    <%= link_to teacher_meetings_destroy_path(@teacher, date: date), data: {confirm: "削除しますがよろしいですか？"}, method: :delete, style: "margin-left: 10px;" do %>
                      <span style="color: #ffffff;"><i class="fas fa-eraser"></i></span>
                    <% end %>
                  </td>
                  <% @meeting_times.each do |meeting_time| %>
                    <% if meeting_time.time.to_date == date %>
                      <td>
                        <%= meeting_time.time.to_s(:time) %>
                        <%= link_to teacher_meetings_destroy_path(@teacher, id: meeting_time.id), data: {confirm: "削除しますがよろしいですか？"}, method: :delete, style: "margin-left: 10px;" do %>
                          <span><i class="fas fa-eraser"></i></span>
                        <% end %>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
                <tr>
                  <% @meeting_times.each do |meeting_time| %>
                    <% if meeting_time.time.to_date == date %>
                      <%= fields_for "meeting_times[]", meeting_time do |af| %>
                          <td style="background: #ffffff;"><%= af.time_select :time, minute_step: 15 %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="eraser-content"><i class="fas fa-exclamation-triangle fa-fw" style="color: red;"></i><i class="fas fa-eraser"></i>アイコンで削除できます。</div>
        <div id="submit-center">
          <%= f.submit "更新", class: "btn btn-success submit-edit" %>
        </div>
      <% end %>
      <div id="submit-center">
        <%= form_with(url: push_path, local:true) do |f| %>
          <%= f.submit "日時決定送信", data: {confirm: "LINEグループに通知しますがよろしいですか？"}, class: "btn btn-primary submit-edit", id: "line-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<style>
  body {
    background-color: #f7f5e6;;
  }
</style>

<script type="text/javascript">
  $('.date-picker').datepicker({
    beforeShow: function(input, inst){
      inst.dpDiv.css({marginTop: 0 + 'px', marginLeft: -40 + 'px'});
    }
    minDate: '0',  // 過去の日付を選択不可
    hideIfNoPrevNext: true,  // 前月矢印削除
    onSelect: function(selected_date) {   // 日付が選択された時、日付をテキストフィールドへセット
      var nowText = $("#kouho").val();
      if (nowText === "") {
        $("#kouho").val(selected_date);
      }else {
        $("#kouho").val(nowText + "\n" + selected_date);
      }
    }
  });
</script>
