<div class="meeting-back2">
  <div id="meeting-top-title">
    <i class="far fa-calendar-check"></i>
    面談スケジュール調整
  </div>

  <div class="meeting-count">
    <p><%= "#{@children.count}" %>人中<span style="color: blue;"><%= "#{@meeting_finish_count}" %>人</span>の日時が登録済み</p>
    <p>あと<span style="color: red;"><%= "#{@children.count - @meeting_finish_count}" %>人</span>で保護者に日時確定メッセージを送信できます。</p>
  </div>

  <div id=content class="meeting-index">
    <%= form_with(url: teacher_schedule_update_path(@teacher), method: :patch, local:true) do |f| %>
      <div class="scroll-table">
        <table class="table-bordered table-striped table-condensed meeting-table" style="width: 100%; margin-top: 20px; background-color: #ffffff;">
          <thead>
            <tr style="background: #FF9933; color: white;">
              <td>日付</td>
              <td>希望者</td>
              <td colspan="<%= @times_count.count %>" id="scroll-ajust">面談時間</td>
            </tr>
          </thead>

          <tbody>
            <% dates.sort.each do |date| %>
              <tr>
                <!-- 日付 -->
                <td rowspan="2" class="bg-info" id="meeting-index"><%= date.to_s(:date) %></td>
                <!-- 希望者 -->
                <td rowspan="2" class="bg-warning" id="meeting-index">
                  <% @meetings_desired.each do |meeting| %>
                    <% if meeting.date == date %>
                      <div id="<%= meeting.id %>"><%= Child.find(meeting.child_id).full_name %></div>
                    <% end %>
                    <% if @meeting_times.any? {|meeting_time| meeting_time.name == Child.find(meeting.child_id).full_name} %>
                      <script>
                        $("#<%= meeting.id %>").addClass("desired-user");
                      </script>
                    <% end %>
                  <% end %>
                </td>
                <!-- 面談時間 -->
                <% @meeting_times.order(:time).each do |meeting_time| %>
                    <% if meeting_time.time.to_date == date %>
                      <td class="bg-info" style="min-width: 100px"><%= meeting_time.time.to_s(:time) %></td>
                    <% end %>
                <% end %>
              </tr>
              <tr>
                <!-- 面談者名 -->
                <% @meeting_times.each do |meeting_time| %>
                  <% if meeting_time.time.to_date == date %>
                    <%= fields_for "meeting_times[]", meeting_time do |af| %>
                      <% unless meeting_time.name.present? %>
                        <td id="meeting-index" style="background-color: #ffffff;">
                          <% if meeting_select(@teacher, date, meeting_time).present? %>
                            <%= af.select :name, meeting_select(@teacher, date, meeting_time), {include_blank: true}, {class: "select-width"} %>
                          <% end %>
                        </td>
                      <% else %>
                        <td id="meeting-index" style="background-color: #ffffff;">
                          <%= link_to "#{meeting_time.name}", teacher_schedule_update_path(@teacher, meeting_time_id: meeting_time.id), meeting_time_id: meeting_time.id, method: :patch %><br>
                          <% if meeting_select(@teacher, date, meeting_time).present? %>
                            <%= af.select :name, meeting_select(@teacher, date, meeting_time), {include_blank: true}, {class: "select-width"} %>
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="meeting-description">
        <p><i class="fas fa-exclamation-triangle"></i>選択肢には保護者が面談可能な日時の部分にまだ日時が決まっていない保護者の名前が表示されます。</p>
        <p><i class="fas fa-exclamation-triangle"></i>保護者の名前をクリックすることでその部分をキャンセルでき、選択肢にもキャンセルした保護者の名前が表示されるようになります。</p>
      </div>
      <div id="submit-center">
        <%= f.submit "更新", class: "btn btn-success submit-edit" %>
      </div>
    <% end %>
    <%# if @children.count == @meeting_finish_count %> <!-- 全員決定時のみ表示 -->
      <div id="submit-center">
        <%= form_with(url: push_path, local:true) do |f| %>
          <%= f.submit "スケジュール決定送信", data: {confirm: "LINEグループに通知しますがよろしいですか？"}, class: "btn btn-primary submit-edit", id: "line-btn" %>
        <% end %>
      </div>
    <%# end %>
  </div>
</div>

<style>
  body {
    background-color: #f7f5e6;;
  }
</style>
