<div id="meeting-top-title" class="text-center text-primary bg-warning">
  <%= image_tag('/icon/sk.png',size:"60x60",style:"display:inline") %>
  面談返信状況確認
</div>

<div id="content-meeting">
  <div id="meeting-title" class="bg-info" style="border-radius:12px;">
    <div><span style="color: blue;"><%= "#{@children.count}" %>人中</span><span style="color: red;"><%= "#{@desired_count}" %>人返信済み</span></div>
    <div style="color: red;">あと<%= @children.count - @desired_count %>人でスケジュール調整可能です。</div>
  </div>

  <table class="table-bordered table-striped table-condensed meeting-table bg-success" style="width: 70%; margin-top: 20px;">
    <thead>
      <tr style="background: #FF9933; color: white;">
        <td>名前</td>
        <td>返信状況</td>
      </tr>
    </head>

    <tbody>
      <% @children.each do |child| %>
        <tr>
          <td><%= child.full_name %></td>
          <% if desired_status(@teacher, child.id) == "返信済み" %>
            <td style="color: red;"><span style="color: green;"><i class="far fa-check-circle"></i></span><%= desired_status(@teacher, child.id) %></td>
          <% else %>
            <td style="color: blue;"><%= desired_status(@teacher, child.id) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="submit-center">
    <%= link_to "スケジュール調整へ", teacher_meetings_index_path(@teacher), class: "btn btn-primary submit-width" %>
  </div>
</div>
