<% provide(:title, "保護者面談管理") %>

<div class="meeting-back">
  <div id="meeting-top-title"><%= @child.full_name %>さんの<br>面談管理ページ</div>

  <!-- 子供が二人以上いた場合 -->
  <% unless @children.count == 1 %>
    <h2 id="meeting-title">管理ページの切り替えはこちらから</h2>
    <% @children.each do |child| %>
      <p style="text-align: center;" id="meeting-title"><%= link_to "#{child.full_name}さんの管理ページへ", user_meetings_new_user_path(@user, child) unless child.id == @child.id %></p>
    <% end %>
  <% end %>

  <% if @meeting_times_status.meeting_confirm? %> <!-- 面談日時のが確定している -->
    <h1 id="meeting-top-title" class="bg-info">面談日時が確定しました。</h1>
    <div class="meeting-confirm-top meeting-new-user">
      <div><%= @child.full_name %>さんの面談日時は</div>
      <div><span style="color: red;">「<%= @meeting_confirm.time.to_s(:full_time) if @meeting_confirm.present? %>」</span></div>
    </div>
  <% elsif @meeting_times_status.meeting_decision? %> <!-- まだ、日時は決まっていない -->
    <%= render 'new_user_meeting_decision' %>
  <% else %>
    <h1 id="meeting-top-title">現在面談日時の登録中です。</h1>
  <% end %>  <!-- @meeting_times_status -->

</div>


<style>
  body {
    background-color: #f7f5e6;;
  }
</style>
