<%= form_with(model: @user, html: {role: 'form', :id => "form_1"}, local: true) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name,  class: "label-signup new_user_label" do %>
    姓<span style="color:red">&emsp;(*必須です)</span>
  <% end %>

  <%= f.text_field :name, class: "form-control validate[required,maxSize[10]]",placeholder:"(例)佐藤" %>

  <%= f.label :name2,  class: "label-signup new_user_label" do %>
    名<span style="color:red">&emsp;(*必須です)</span>
   <% end %>

  <%= f.text_field :name2, class: "form-control validate[required,maxSize[10]]",placeholder:"(例)太郎" %>

  <%= f.label :email, class: "label-signup new_user_label" do %>
    メールアドレス<span style="color:red">&emsp;(*必須です)</span>
  <% end %>

  <%= f.email_field :email, class: "form-control fa validate[required,custom[email]]",placeholder:"\uf0e0  (例)sample@example.com" %>

  <%= f.label :phone, class: "label-signup new_user_label" do %>
     電話番号<span style="color:red">&emsp;(*必須です)</span>
  <% end %>

  <%= f.text_field :phone, class: "form-control fa validate[required, custom[phone]]",placeholder:"\uf095 (例)自宅または携帯番号" %>

  <%= f.label :password, class: "label-signup new_user_label" do %>
     パスワード<span style="color:red">&emsp;(*必須です)</span>
  <% end %>
  <%= f.password_field :password, class: "form-control fa", placeholder:"\uf084 ６文字以上で入力してください。" %>

  <%= f.label :password_confirmation, class: "label-signup new_user_label" do %>
      パスワード確認<span style="color:red">&emsp;(*必須です)</span>
  <% end %>

  <%= f.password_field :password_confirmation, class: "form-control fa", placeholder:"\uf00c パスワード確認" %>

  <%= f.label :send_select, "メール案内を希望しない", class: "label-signup new_user_label" %><br>
  <%= f.check_box :send_select, {} , true, false %>

  <div class="push-guide-title">
    <p class="push-guide">下記からLINEグループにご参加いただけると案内をLINEでプッシュ通知いたします。</p>
    <div class="line-friend">
      <a href="https://lin.ee/qWnlt5p"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
    </div>
    <p class="push-guide"><i class="fas fa-exclamation-triangle fa-fw" style="color: red;"></i>メールまたはLINEどちらかの案内はご登録お願いいたします。</p>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-signup",style:"padding:2% 0;margin-top:5%;" %>
<% end %>

<style>
  input[type=checkbox] {
    transform: scale(1.5);
  }
</style>

<script>

  $(function(){
    jQuery("#form_1").validationEngine('attach', {
      promptPosition: "topRight: -70" //アラートの吹き出し位置調整
    });
  });

</script>
