<div class="text-center">
  <h1 class="title_font">
    書類タイトル:<span style="color:red"><%= @document.title %></span>
  </h1>
</div>
<%= link_to "戻る",user_documets_path(@user),class:"btn btn-default" ,class:"btn btn-default",style:"width:20%" %>
<% if @input_count > 0 && @select_count ==false %>
  <%= render 'layouts/documents/select'%>
<% elsif @input_count >0 && @select_count %>
  <%= render '/layouts/documents/input' %>  
<% elsif @input_count == 0 %>  
   <%= render 'layouts/documents/pdf' %>  
<% end %>
<hr>
