<div class="tm-back">
  <h1 id="meeting-top-title"><i class="fas fa-envelope-open-text"></i>&nbsp;お便り一覧</h1>

  <% if @t_messages.present? %>
    <table class="table-bordered table-striped table-condensed meeting-table" style="width: 100%; margin-top: 20px;">
      <thead>
        <tr style="background: #FF9933; color: white;">
          <td>日付</td>
          <td>タイトル</td>
          <td>内容</td>
        </tr>
      </thead>

      <tbody>
        <% @t_messages.each do |t_message| %>
          <tr>
            <!-- 日付 -->
            <td style="width: 30%;"><%= t_message.created_at.to_s(:date) %></td>
            <!-- タイトル -->
            <td><%= t_message.title %></td>
            <!-- 内容 -->
            <td class="message-content" data-toggle="collapse" data-target="#tm-<%= t_message.id %>" aria-expanded="false" aria-controls="collapseExample2">
              <%= button_tag "内容", class: "btn btn-success" %>
            </td>
          </tr>
          <tr class="collapse" id="tm-<%= t_message.id %>">
            <td colspan="3" class="bg-warning" style="text-align: left;"><span style="color: green;">内容</span>：<br><%= t_message.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div id="meeting-title">お便りなし</div>
  <% end %>
</div>

<style>
  body {
    background-color: #f7f5e6;;
  }
</style>
