<div id="meeting-top-title">生徒新規登録</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @child, url: child_create2_path(@user), local: true) do |f| %>
      <%= render 'shared/child_error_messages' %>

      <%= f.label :name_1, "姓", class: "label-signup" %>
      <%= f.text_field :name_1, class: "form-control" %>

      <%= f.label :name_2, "名", class: "label-signup" %>
      <%= f.text_field :name_2, class: "form-control" %>

      <%= f.hidden_field :teacher_id, :value => @teacher.id %>

      <%= f.submit "登録", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>
