<%= provide(:title,"#{@user.name}さんページ") %>
<h2 class="user_show_title">
  <div class="user_title-border"><%= @user.name + @user.name2 %>さんの個別ページ</div>
</h2>

<div class="line-friend">
  <a href="https://lin.ee/qWnlt5p"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
</div>

<link rel="stylesheet" href="/assets/stylesheets/css/font-awesome.min.css">

<div class="container">
 <div class="row" style="background:none;">
  <div class="col-md-8 col-md-offset-2 user_icon_area">
  <label class="user_area_label">メニュー</label>
   <div class="row" style="background:none;">

     <div class= "col-md-2 col-xs-3 col-md-offset-1 col-xs-offset-2">
       <%= link_to user_meetings_new_user_path(user_id: @user.id, child_id: @child.id), style:"text-decoration: none;" do %>
         <span class="user_link_icon"><i class="far fa-calendar-check"></i></span>
         <div class="user_icon_title">面談ページへ</div>
       <% end %>
     </div>

      <div class= "col-md-2 col-xs-3 col-md-offset-1 col-xs-offset-2">
       <%= link_to  user_documets_path(@user), style:"text-decoration: none;" do %>
         <span class="user_link_icon"><i class="fas fa-file-alt"></i></span>
         <div class="user_icon_title">提出ページへ</div>
       <% end %>
     </div>

     <div class= "col-md-2 col-xs-3 col-md-offset-1 col-xs-offset-2">
       <%= link_to  edit_user_path(@user), style:"text-decoration: none;" do %>
          <span class="user_link_icon"><i class="fas fa-user-edit"></i></span>
          <div class="user_icon_title">保護者情報編集</div>
       <% end %>
     </div>

      <div class= "col-md-2 col-xs-3 col-md-offset-1 col-xs-offset-2">
       <%= link_to user_users_index2_path(@user), style:"text-decoration: none;" do %>
         <span class="user_link_icon"><i class="fas fa-user-graduate"></i></span>
         <div class="user_icon_title">生徒さん登録/編集</div>
       <% end %>
     </div>



   </div><br><!-- row1 -->

  <div class="row" style="background:none;">



      <div class= "col-md-2 col-xs-3 col-md-offset-1 col-xs-offset-2">
       <%= link_to  user_users_messages_path(@user), style:"text-decoration: none;" do %>
         <span class="user_link_icon"><i class="fas fa-envelope-open-text"></i></span>
         <div class="user_icon_title">お便り一覧<%= render 'new_label' if @t_message.new_arrival? %></div>
       <% end %>
     </div>

   </div><!-- row2 -->
  <!-- /main col -->
  </div>
 <!-- /main row -->
 </div>
<!-- /container -->
</div>

<style>
  body {
    background-image: url("/pta3.jpg");
    background-size:cover
  }

</style>
