<h1 id="meeting-top-title"><%= @user.name + @user.name2 %>さんの管理ページ</h1>
<link rel="stylesheet" href="/assets/stylesheets/css/font-awesome.min.css">

<div id="user-top">
  <div id="one">
    <%= link_to user_meetings_new_user_path(user_id: @user.id, child_id: @child.id), class: "btn btn-success top-button" do %>
      <i class="far fa-calendar-check"></i>
      面談ページへ
    <% end %>
  </div>
  <div id="two">
    <%= link_to  user_documets_path(@user), class: "btn btn-success top-button" do %>
      <i class="fas fa-file-alt"></i>
      提出ページへ
    <% end %>
  </div>
  <div id="three">
    <%= link_to  edit_user_path(@user), class: "btn btn-success top-button" do %>
      <i class="fas fa-user"></i>
      保護者情報編集
    <% end %>
  </div>
  <div id="four">
    <%= link_to  user_users_index2_path(@user), class: "btn btn-success top-button" do %>
       <i class="fas fa-user-graduate"></i>
      生徒さん登録/編集
    <% end %>
  </div>
  <div id="five">
    <%= link_to  "#", class: "btn btn-success top-button" do %>
      <i class="fas fa-paper-plane"></i>
      先生へ連絡する
    <% end %>
  </div>
  <div id="six">
    <%= link_to "#", class: "btn btn-success top-button" do  %>
      <i class="fas fa-envelope-open-text"></i>
      先生からのお便り
    <% end %>
  </div>

</div>
