<% provide(:item_url,document_item_create_path(@document)) %>

<!--モーダル-->
<div id= "select-second" class= "modal fade" role = "dialog" tabindex = "-1" aria-hidden = "true" ></div>
<div class="text-center text-primary">
 <ul class="document_ul">
    <li id="document_img"><%= image_tag('/explain/form1.png',size:"60x60",style:"display:inline") %><li>
    <li><h1 class="title_font">質問項目のフォーム作成</h1></li>
  </ul>
</div>
<%= link_to "このページの説明見る",select_second_modal_path,remote:true,style:"font-size:24px;text-decoration:underline;" %>
<hr>
<h2 class="title_font" style="font-size:24px;"><%= "タイトル:#{@document.title}" %><br><br>
<% if flash[:danger].present? %>
 <div class="alert alert-danger" id="item_flash"><%= flash[:danger] %></div>
<% end %>
<%= render 'form', document_item: @document_item %>

<style>
  #main_alert{display:none;}
</style>
<script>
  var flg = 1;
  $(function(){
   // 自身のページを履歴に追加
   history.pushState(null, null, null);
   // ページ戻り時にも自身のページを履歴に追加
   $(window).on("popstate", function(){
       history.pushState(null, null, null);
   });

  });
</script>