<% provide(:item_url,document_item_create2_path(@document))%>
<ol class="stepBar">
  <li class="visited"><span>1</span><br>書類の概要作成<label style="color:red">(済み)</label></li>
  <li class="visited"><span>2</span><br>質問項目作成</li>
 
</ol>
<br>

<!--モーダル-->
<div id= "input-second" class= "modal fade" role = "dialog" tabindex = "-1" aria-hidden = "true" ></div>
<div class="text-center text-primary">
  <ul class="document_ul">
    <li id="document_img"><%= image_tag('/explain/input3.png',style:"display:inline") %><li>
    <li><h1 class="title_font" id="document_new_item_title">質問項目のフォーム作成</h1></li>
  </ul> 
</div>
<div class="text-center">
  <%= link_to input_second_modal_path,remote:true,id:"document_new_item_link" do %>
    <i class="fas fa-question-circle"></i>
    このページの説明見る
  <% end %>
</div>  
<hr>
<% if flash[:danger].present? %>
 <div class="alert alert-danger" id="item_flash"><%= flash[:danger] %></div>
<% end %>
<div id="document_new_item_div">
  <label id="document_new_item_label"><%= "書類タイトル:#{@document.title}" %></label>
</div>  

<%= render 'form', document_item: @document_item %>


<style>
  body,.row{background:#FFC7AF;}
  #main_alert{display:none;}
  #document_new_item_label{
    background:#FF8C00;
    border-left:5px solid #4689FF;
    color:#F3FFD8;
    padding:10px 20% 10px 10px;
    margin-bottom:2%;
    text-align:center;
  }
  @media screen and (max-width:767px){
    #document_new_item_title{
      margin-top:-8%;
    }
  }
</style>
<script>
  var flg = 1;
  $(function(){
   // 自身のページを履歴に追加
   history.pushState(null, null, null);
   // ページ戻り時にも自身のページを履歴に追加
   $(window).on("popstate", function(){
       history.pushState(null, null, null);
   });

  });
</script>