<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <div class="text-center" style="height:auto;"><strong>選択肢の編集</strong></div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
     </div> 
      <div class="modal-body">
        <% if flash[:info].present? %>
         <div class="alert alert-danger"><%= flash[:info] %></div>
        <% end %>
        <div class="text-center">
          <h3 id="document_edit_modal-h3"><%= "質問項目:#{@document_item.content}"  %></h3>
          <p class="text-primary">この質問の選択肢を変更します。</p>
          <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= form_with(url:document_update_select_path(@document_item),local:true, method: :patch) do |f| %>
           <div class="text-left">
             <%=f.submit "選択肢を編集する",class:"btn btn-primary",style:"margin-bottom:2%;margin-top:3%;" %>
             <span id="document_explain_span" style="margin-top:3%;">
    　　       編集を確定させるにはこのボタンを押してください。
             </span>
           </div>  
             <table class="table table-bordered" id="document_modal_table">
               <thead>
                 <tr>
                   <th>選択肢内容</th><th></th>
                 </tr>
               </thead>
               <tbody>
                 <% @document_item.document_selects.each do |select| %>
                   <%= fields_for "selects[]",select do |af| %>
                    <tr>
                      <td><%=af.text_field :content,style:"height:60px;",class:"form-control",value:select.content.split(":")[0] %></td>
                      <td>
                        <%= link_to "削除",document_select_destroy_path(select),data:{confirm:"削除してよろしいですか？"},method: :delete,class:"btn btn-danger btn-lg btn-block" if @document_item.document_selects.count>=3 %>
                      </td>
                    </tr>
                  <% end %>
                 <% end %>
               </tbody>
             </table>
            <% end %>
             <div style="border-top:1px dotted black"></div>
             <p id="document_item_add_p">
               選択肢を追加するには下のフォームに入力して追加してください。
             </p>
             <%= form_with(url:document_select_add_path(@document_item),local:true) do |f| %>
               <%= f.text_area :content,rows:4,class:"form-control",placeholder:"追加項目を入力してください。" %>
               <%= f.submit "選択肢追加",class:"btn btn-primary",style:"margin-top:1%;" %>
             <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>