<%= form_with(model: document,url:yield(:url), local: true,id:"form_id") do |form| %>
 <!-- flashデータ-->
 <% flashArray = flash[:danger].split(":") if flash[:danger].present? %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-9 col-md-offset-2" id="document_form"><br>
    <div class="field">
     <% if flashArray %>
       <!-- split分割された配列にtitleあるかどうか? -->
      <% if flashArray.include?("タイトルが有りません。") %>
       <div class="alert alert-danger alert2">タイトルが有りません。</div>
      <% elsif flashArray.include?("50文字以内でお願いします。")  %> 
        <div class="alert alert-danger alert2">50文字以内です。</div>
      <% end %>
     <% end %> 
      <label id="document_form_title_label">タイトル&emsp;<span style="color:#FF4F50">(必須です)</span></label>
      <%= form.text_field :title, id:"document_title-forms",class:"form-control fa",placeholder:"\uf304　書類のタイトルです。",value: @document.title.present? ? @document.title : params[:title]  %>
    </div><br>

    
      <div class="field"> 
      <% if flashArray %>
      <!-- split分割された配列にmemoあるかどうか? -->
       <% if  flashArray.include?("概要は必須です。") %>
         <div class="alert alert-danger alert2">概要は必須です。</div>
       <% elsif flashArray.include?("100文字以内でお願いします。") %>
         <div class="alert alert-danger alert2">100文字以内です。</div>  
       <% end %>
      <% end %>
        <label id="document_form_title_label">資料の概要&emsp;<span style="color:#FF4F50">(必須です)</span></label>
        <%= form.text_area :memo, id:"document_memo-forms",class:"form-control fa",placeholder:"\uf304　書類の概要です。",value:@document.memo.present? ? @document.memo : params[:memo]  %>
      </div><br>  
    
    <label id="document_form_title_label">外部サービス</label>
    <%= form.select :service,service_select,{},class:"form-control",id:"document_select-forms" %><br>

    <! -- 表示式のみ外部リンク必須 -->  
    <%  if yield(:url) == document_create3_path || (document.item_check? == false) &&  params[:pdf_link].nil?  %>  <!--documentモデル参照-->
      <div class="alert alert-info alert2" style="margin-top:1%;width:40%;">この書類では正確に入力ください。</div>  
    <% elsif document.item_check? == false && flashArray.include?("正確に入力ください。") &&  params[:pdf_link].blank? %>  
       <div class="alert alert-danger alert2" style="margin-top:1%;width:35%;">正確に入力ください。</div>  
    <% end %>
    <div class="field">
      <label id="document_form_title_label">外部リンク&emsp;<span style="color:#FF4F50"><%= "(必須です)" if yield(:url) == document_create3_path || (document.item_check? == false) &&  params[:pdf_link].nil?  %></span></label>
      <%= form.text_field :service_url, id:"document_pdf_link-forms",class:"form-control fa",placeholder:"\uf381　書類のURLを入力ください。",value:@document.service_url.present? ? @document.service_url : params[:service_url] %>
    </div><br>

    <div class="field">
       <% if flashArray %>
        <!-- split分割された配列にdeadlineあるかどうか? -->
        <% if flashArray.include?("期限は必須です。") %>
          <div class="alert alert-danger alert2">期限は必須です。</div>
        <% elsif flashArray.include?("日付けが過ぎてます。") %>  
           <div class="alert alert-danger alert2">日付けが過ぎてます。</div>
        <% end %>
       <% end %>
      <label id="document_form_title_label">期限&emsp;<span style="color:#FF4F50">(必須です)</span></label>
      <%= form.date_field :deadline, id:"document_deadline-forms",class:"form-control" %>
    </div><br>

    <div class="actions text-center">
      <%= form.submit "送信",class:"btn btn-primary btn-lg",style:"width:25%" %>
    </div>
  </div>
</div>  
<% end %>
<style>
  #document_form{
    background:#f0f0f0;
    border-radius:6px;
    padding:20px 40px;

  }
</style>