<%= form_with(model: document,url:yield(:url), local: true,id:"form_id") do |form| %>
 <!-- flashデータ-->
 <% flashArray = flash[:danger].split(":") if flash[:danger].present? %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-8 col-md-offset-2"><br>
    <div class="field">
     <% if flashArray %>
       <!-- split分割された配列にtitleあるかどうか? -->
      <% if flashArray.include?("タイトルが有りません。") %>
       <div class="alert alert-danger alert2">タイトルが有りません。</div>
      <% end %>
     <% end %> 
      <%= form.label :タイトル %>
      <%= form.text_field :title, id: :document_title,class:"form-control",value: @document.title.present? ? @document.title : params[:title]  %>
    </div><br>

    
      <div class="field"> 
      <% if flashArray %>
      <!-- split分割された配列にmemoあるかどうか? -->
       <% if  flashArray.include?("概要は必須です。") %>
         <div class="alert alert-danger alert2">概要は必須です。</div>
       <% end %>
      <% end %>
        <%= form.label :資料の概要 %>
        <%= form.text_area :memo, id: :document_memo,class:"form-control",value:@document.memo.present? ? @document.memo : params[:memo]  %>
      </div><br>  
    
    <%= form.label "サービス選択" %>
    <%= form.select :service,service_select,{},class:"form-control" %><br>

    <! -- 表示式のみ外部リンク必須 -->  
    <%  if yield(:url) == document_create3_path %>
      <div class="alert alert-info alert2" style="margin-top:1%;width:35%;">この書類では正確に入力ください。</div>  
    <% end %>
    <div class="field">
      <%= form.label :外部リンク,style:"margin-top:-4%" %>
      <%= form.text_field :service_url, id: :document_pdf_link,class:"form-control",value:params[:service_url] %>
    </div><br>

    <div class="field">
       <% if flashArray %>
        <!-- split分割された配列にdeadlineあるかどうか? -->
        <% if flashArray.include?("期限は必須です。") %>
          <div class="alert alert-danger alert2">期限は必須です。</div>
        <% elsif flashArray.include?("日付けが過ぎてます。") %>  
           <div class="alert alert-danger alert2">日付けが過ぎてます。</div>
        <% end %>
       <% end %>
      <%= form.label :期限　%>
      <%= form.date_field :deadline, id: :document_deadline,class:"form-control" %>
    </div><br>

    <div class="actions text-center">
      <%= form.submit "送信",class:"btn btn-primary btn-lg" %>
    </div>
  </div>
</div>  
<% end %>
