<%= provide(:title, "書類ページ") %>
<div class="text-center">
  <h1 class="title_font teacher_create_form_title">
    書類タイトル<br><br>
    <div style="color:red">[<%= @document.title %>]</div>
  </h1>
  <% if !current_teacher.nil? %>
   <h3>教員専用ページ</h3>
   <p style="color:red;">*教員確認用なので、操作はできません。</p>
  <% end %>
  <% if !current_teacher.nil? %>
    <%= link_to "戻る",documents_path,class:"btn btn-default",style:"margin-bottom:1%;width:20%" %> 
  <% end %>

</div>

<% if @input_count > 0 && @select_count ==false %>
  <%= render 'layouts/documents/select'%>
<% elsif @input_count >0 && @select_count %>
  <%= render 'layouts/documents/input' %>  
<% elsif @input_count == 0 %>  
   <%= render 'layouts/documents/pdf' %>  
<% end %>

