<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-title meeting-modal-title" style="color: black;"><%= @t_message.title %></div>
    </div>
    <div class="modal-body modal-desired">
      <%= form_with(model: @t_message, url: teacher_t_message_update_path(@teacher, id: @t_message.id), method: :patch, local:true) do |f| %>

      <%= f.label :title, "タイトル", class: "label-signup", style: "color: black;" %>
      <%= f.text_field :title, class: "form-control validate[required,maxSize[20]]" %>

      <%= f.label :content, "内容", class: "label-signup", style: "color: black;" %>
      <br><span style="color: red">100文字以内で入力してください。</span>
      <%= f.text_area :content, class: "form-control validate[required,maxSize[100]]", style: "height: 100px" %>

      <%= f.submit "更新", class: "btn btn-primary btn-block btn-signup" %>
      <%= f.submit "削除", data: {confirm: "削除しますがよろしいですか？"}, class: "btn btn-danger btn-block btn-signup" %>

      <% end %>
    </div>
  </div>
</div>
