<div id="meeting-top-title" class="title_font meeting-top-title">教員トップページ</div>


<div class="box_srcollbar">
  <div class="box_title"><span style="color:#a0a0a0;"><i class="fas fa-phone">&emsp;</span></i>保護者からのお問い合わせ</div>
  <% @p_messages.each do |p_message| %>
    <span style="color:yellow"><%= p_message.created_at.to_s(:date) %><span>
    <span style="color:#fff;margin-left:5%;"><%= link_to p_message.title, teacher_t_message_reply_path(@teacher, id: p_message.id),style:"color:#fff" %></span>
    <%= "(返信済み)" if p_message.reply.present? %><br>
  <% end %>
</div>
   <label class="teacher_menu_title">メニュー</label>
    <div class="col-md-9 col-md-offset-2">
     <div class="row teacher_row">
    <div class="container">
      <div class="row" style="background:none">

        <div class="col-md-1 col-xs-6 col-md-offset-1">
           <%= link_to  teacher_meetings_new_path(@teacher) ,id:"teacher_bt" do %>
             <span class="teacher_link_icon"><i class="far fa-calendar-alt"></i></span>
             <div class="teacher_icon_title">面談日時登録</div>
           <% end %>
        </div>

        <div class="col-md-1 col-xs-6 col-md-offset-1">
          <%= link_to  teacher_meetings_edit_path(@teacher),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="far fa-clock"></i></span>
            <div class="teacher_icon_title">面談時間登録</div>
          <% end %>
        </div>

        <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to teacher_meeting_index2_path(@teacher),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="fas fa-inbox"></i></span>
            <div class="teacher_icon_title">面談返信確認</div>
          <% end %>
        </div>

        <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to documents_path(params:{teacher_id: @teacher}),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="fas fa-book-open"></i></span>
            <div class="teacher_icon_title">提出状況確認</div>
          <% end %>
        </div>
      </div>
      <!-- row一つ目終了-->
      <!--　row NO2 -->
      <div class="row" style="background:none">
        <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to new2_document_path(params:{teacher_id: @teacher}),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="fas fa-file-signature"></i></span>
            <div class="teacher_icon_title">入力提出作成</div>
         <% end %>

        </div>

        <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to new_document_path(params:{teacher_id: @teacher}),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="far fa-list-alt"></i></span>
            <div class="teacher_icon_title">選択提出作成</div>
          <% end %>
        </div>

        <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to new3_document_path(params:{teacher_id: @teacher}),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="fas fa-paste"></i></span>
            <div class="teacher_icon_title">表示書類作成</div>
          <% end %>
        </div>


        <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to teacher_t_message_path(@teacher),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="fas fa-comments"></i></span>
            <div class="teacher_icon_title">&emsp;&emsp;個別連絡</div>
          <% end %>
        </div>
      </div>
     <!-- /row2 -->
　　　<!-- row3 -->
     <div class="row" style="background:none">
       <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to teacher_teacher_index2_path(@teacher), class: "last" do %>
            <span class="teacher_link_icon"> <i class="fas fa-users"></i></span>
            <div class="teacher_icon_title">&emsp;保護者一覧</div>
          <% end %>
      </div>

       <div class="col-md-1 col-xs-6 col-md-offset-1" >
          <%= link_to help_teachers_path(params:{teacher_id: @teacher}),id:"teacher_bt" do %>
            <span class="teacher_link_icon"><i class="fas fa-question-circle"></i></span>
            <div class="teacher_icon_title">&emsp;&emsp;&emsp;ヘルプ</div>
          <% end %>
        </div>



     </div>
     <!-- /row3-->


    </div>
   </div>
   </div>


<style>
 body{
   background-image:url("../school.jpg");
   background-size:cover;
 }
 .teacher_row{
   background:rgba(0,0,0,0.5);
   box-shadow:2px 2px 4px 4px #000;
   width:-30px;
 }


</style>
