<% provide(:title, "お便り送信") %>

<h1 id="meeting-top-title"><i class="far fa-newspaper"></i>&nbsp;お便り送信</h1>

<div>
  <div class="message">
    <%= form_with(model: @t_message, url: teacher_t_message_create_path(@teacher), html: {role: 'form', :id => "form_1"}, local: true) do |f| %>

      <%= f.label :title, "タイトル", class: "label-signup" %>
      <%= f.text_field :title, class: "form-control validate[required,maxSize[20]]" %>

      <%= f.label :content, "内容", class: "label-signup" %>
      <br><span style="color: red">100文字以内で入力してください。</span>
      <%= f.text_area :content, class: "form-control validate[required,maxSize[100]]", style: "height: 100px" %>

      <%= f.submit "送信", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>

<style>
  body {
    background: #a2c2e6;
  }
</style>

<script type="text/javascript">
  $(function(){
    jQuery("#form_1").validationEngine('attach', {
      promptPosition: "topRight: -70" //アラートの吹き出し位置調整
    });
  });
</script>
