<% provide(:title, "個別連絡") %>

<h1 id="meeting-top-title" class="message-top">個別連絡</h1>

<div>
  <div class="message">
    <%= form_with(model: @t_message, url: teacher_t_message_create_path(@teacher), html: {role: 'form', :id => "form_1"}, id: "form_2", local: true) do |f| %>

      <%= f.label :title, "タイトル", class: "label-signup" %>
      <%= f.text_field :title, class: "form-control validate[required,maxSize[20]]" %>

      <%= f.label :content, "内容", class: "label-signup" %>
      <br><span style="color: red">100文字以内で入力してください。</span>
      <%= f.text_area :content, class: "form-control validate[required,maxSize[100]]", style: "height: 100px" %>

      <%= f.label :select_user, "送信ユーザー", class: "label-signup" %>
      <%= f.select :select_user, @users_name, { include_hidden: false }, { multiple: true, class: "js-searchable form-control", id: "select_user" } %>


      <%= f.submit "送信", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>

<style>
body {
    background: #c1e4e9;
  }
</style>


<script>

  $('.js-searchable').select2({
    maximumSelectionLength: 5,
    placeholder: '送信ユーザー選択',
    language: {
      maximumSelected: (args) => '一度の送信では最大５人までです。'
    },
    allowClear: true
  });

  $(function(){
    jQuery("#form_1").validationEngine('attach', {
      promptPosition: "topRight: -70" //アラートの吹き出し位置調整
    });
  });


  $(function() {

    // ①submit()に関数をバインド
    $('form').submit(function() {

        // もしセレクトボックスが空欄だったら…
        if($("#select_user").val() == null) {

          // 警告を出す
          alert('送信ユーザーを選択してください。');

          // 処理を中断
          return false;

        }
    });
  });

</script>
