<%= form_with(url:selectcreate_path(@document_item), local: true,id:"form_id") do |form| %>
  <% if document_select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document_select.errors.count, "error") %> prohibited this document_select from being saved:</h2>

      <ul>
      <% document_select.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_area :content, id: :document_select_content,rows:5,class:"form-control fa",style:"border-radius:8px;",placeholder:"\uf022 選択肢を作成します。" %>
  </div><br>

  <div class="actions">
    <%= form.submit "送信",class:"btn btn-primary btn-lg",id:"document_select_new_submit" %>
    <% if @select_count >=2 %>
     <span>
      <%= link_to '終了', documents_path(params:{input: true}),class:"btn btn-default btn-lg",id:"document_select_finish_button" %>
      <%= link_to "新規質問作成",document_question_path(@document_item.document_id),class:"btn btn-primary btn-lg",id:"document_select_new_question_button" %>
    </span>  
    <% end %>  
  </div>
<% end %>

