<!--モーダル-->
<div id= "select-third" class= "modal fade" role = "dialog" tabindex = "-1" aria-hidden = "true" ></div>

<div class="text-center text-primary">
  <ul class="document_ul">
    <li id="document_img"><%= image_tag('/explain/form2.png',size:"60x60",style:"display:inline") %><li>
    <li> <h1 class="title_font">選択肢作成</h1></li>
  </ul>
</div>  
<%= link_to "このページの説明見る",select_third_modal_path,remote:true,style:"font-size:24px;text-decoration:underline;" %>
<hr>
<h2 class="title_font" style="font-size:26px;"><%= "質問:#{@document_item.content}" %></h2>
<% if flash[:danger].present? %>
  <div class="alert alert-danger" id="select_flash"><%= flash[:danger] %></div>
<% end %>
<%= render 'form', document_select: @document_select %>
<% if @select_count >=2 %>
  <%= link_to '終了', teacher_path(1),class:"btn btn-default btn-lg" %>
  <%= link_to "新規質問作成",document_question_path(@document_item.document_id),class:"btn btn-primary btn-lg" %>
<% end %>  
<style>
  body{ background-color:#00FF00;}
</style>
<script>
  var flg = 1;
  $(function(){
   // 自身のページを履歴に追加
   history.pushState(null, null, null);
   // ページ戻り時にも自身のページを履歴に追加
   $(window).on("popstate", function(){
       history.pushState(null, null, null);
   });
     
  });
</script>