<hr>
<div class="document_user_box">
  <span class="document_box-title">概要</span>
  <p><%= @document.memo %></p>
  <strong style="color:red">期限:<%=@document.deadline %></strong>
</div><br><hr>
<div class="tex-center text-primary title_font" id="document_download_title">
  この書類は学校で生徒さんに手渡しで、お渡しした書類です。保護者の方はご確認ください。パソコンをお持ちの方はダウンロードすることもできます。
</div>
<div class="row">
  <div class="col-md-12">
   <iframe src="<%= @document.pdf_link %>" width="100%" height="600"></iframe>
  </div>
</div><br>
<div style="border-top:1px dotted black"></div>
<div class="text-center">
<% if current_teacher.nil? %>
  <% if @document.pdf_link.to_s.split('/')[2] == "drive.google.com" %>
    <a href="https://drive.google.com/uc?export=download&id=<%= @document.pdf_link.to_s.split('/')[5] %>" download style="font-size:30px;" >
      <i class="fas fa-file-download"><span style="text-decoration:underline;">ダウンロード</span></i>
    </a>
  <% elsif @document.pdf_link.to_s.split('/')[2] == "onedrive.live.com" %>  
    <a href="https://onedrive.live.com/download?<%= @document.pdf_link.to_s.split('&')[1] %>" download style="font-size:30px" id="a">
      <i class="fas fa-file-download"><span style="text-decoration:underline;">ダウンロード</span></i>
    </a>
  <% end %> 
 <% end %>   
</div>  
<style>
  body{background-color:#FFE4C4;}
</style>